nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
  .container
    a.navbar-brand(href='#') Bootstrap
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='#') About
        li.nav-item
          a.nav-link(href='#') Project
        li.nav-item
          a.nav-link(href='#') Contact



